/*jslint browser: true node: true*/

module.exports = {
    "server_port": PORT,
    "secret": "SECRETKEY",
    "upload_folder": "your/upload/folder/",
    "development": {
        "username": "USERNAME",
        "password": "PASSWORD",
        "database": "DBNAME",
        "host": "DBHOST",
        "port": "DBPORT",
        "dialect": "DATABASE_TYPE"
    },
    "test": {
        "username": "USERNAME",
        "password": "PASSWORD",
        "database": "DBNAME",
        "host": "DBHOST",
        "port": "DBPORT",
        "dialect": "DATABASE_TYPE"
    },
    "production": {
        "username": "USERNAME",
        "password": "PASSWORD",
        "database": "DBNAME",
        "host": "DBHOST",
        "port": "DBPORT",
        "dialect": "DATABASE_TYPE"
    }
};